VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
VITE_CONTRACT_ADDRESS=0x754e708994845485abcab170429bd1970b09fdf0
VITE_STORACHA_KEY=your_storacha_private_key
VITE_STORACHA_PROOF=your_storacha_delegation_proof
